{% load static %}

    <div class="lg:col-start-1 lg:col-span-4" x-data="{ activeTab: '{{contenue}}' }">
      <ul class="tab-links lg:mr-30px border border-b-0 border-border-color-1">
        {% for key, value in templates.items %}
        <li   @click="activeTab = '{{ key }}'"
              :class="activeTab === '{{ key }}' ? 'bg-black text-white font-bold' : ''"
              class="border-b border-border-color-1">
          <button
                  hx-get="{% url 'dashboard' %}?contenue={{ key }}" hx-push-url="true" hx-target="#dashboard-content" hx-swap="innerHTML"
                  class="flex justify-between items-center px-5 py-15px w-full text-sm lg:text-base transition-all duration-300 capitalize">
                  <span class="leading-1.8 lg:leading-1.8"> {{ value.libelle }} </span>
                  <i class="{{ value.icon }} text-sm"></i>
          </button>
        </li>
        {% endfor %}
      </ul>
    </div>
