{% load static %}

{% if appropos %}
      <!-- about section -->
      <section>
        <div data-aos="fade-right" data-aos-duration="800" class="container py-20 pb-90px">
          <div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-30px">
            <!-- about left -->
            <div class="lg:mr-30px relative mb-10 lg:mb-0">
              <img src="{{ appropos.image.url }}" alt="" class="max-w-full" >
            </div>
            <!-- about right -->
            <div>
              <div class="mb-5">
                <p class="text-sm md:text-15px lg:text-base text-secondary-color bg-secondary-color bg-opacity-10 mb-15px py-1px px-5 rounded-full inline-block font-semibold">
                  <span class="leading-1.3">Appros de nous</span>
                </p>
                <h2 class="text-2xl sm:text-3xl md:text-26px lg:text-3xl xl:text-44px text-heading-color font-bold mb-15px">
                  <span class="leading-1.3">
                    {{ appropos.compagnie.denomination }}
                  </span>
                </h2>
                <p class="text-sm lg:text-base max-w-500px">
                  <span class="leading-1.8 lg:leading-1.8"
                  >{{ appropos.presentation }}</span>
                </p>
              </div>
              {% if appropos.prestation_set.all.exists %}
              <ul class="grid grid-cols-1 md:grid-cols-2 gap-x-5 gap-y-4 pt-4">
                {% for elt in appropos.prestation_set.all %}
                <li class="text-sm lg:text-base flex items-center">
                  <i class="{{elt.icon}} text-xl text-secondary-color bg-color-6 w-45px h-45px flex items-center justify-center mr-25px rounded-100%"></i>
                  <span class="leading-1.8">{{ elt.libelle }}</span>
                </li>
                {% endfor %}
              </ul>
              {% endif %}

              <div class="bg-secondary-color bg-opacity-5 mt-30px mb-10">
                <p class="text-sm lg:text-base p-5 border-l-4 border-secondary-color">
                  <span class="leading-1.8">
                     {{ appropos.slogan }}
                  </span>
                </p>
              </div>
              <div>
                <h5 class="uppercase text-sm md:text-base text-white relative group whitespace-nowrap font-normal mb-0 transition-all duration-300 border border-secondary-color hover:border-heading-color inline-block">
                  <span class="inline-block absolute top-0 right-0 w-full h-full bg-secondary-color group-hover:bg-black hover:bg-primary-cogroup-lor z-1 group-hover:w-0 transition-all duration-300"></span>
                  <a
                    href="{% url 'service' %}"
                    class="relative z-10 px-5 md:px-25px lg:px-10 py-10px md:py-3 lg:py-17px group-hover:text-heading-color leading-23px"
                    >{{ appropos.option }}</a
                  >
                </h5>
              </div>
            </div>
          </div>
        </div>
      </section>

{% endif %}