  <div id="message_ajouter_panier" hx-swap-oob="true">
      {% include 'client/message_toastify.html' %}
  </div>

  <sup id="nombre_projet_panier" hx-swap-oob="true">{{request.user.client.panier_set.all|length}}</sup>
  <sup id="nombre_panier_menu" hx-swap-oob="true" class="ml-1 text-sm font-semibold">{{ request.user.client.panier_set.all|length }}</sup>

  <div class="max-h-[calc(100%-(360px))] cart-items overflow-y-auto" id="panier_card" hx-swap-oob="true">
    <ul>
    {% if request.user.client.panier_set.all %}
        {% for elt in request.user.client.panier_set.all %}
      <li class="accordion pl-10px pt-5 mb-5 flex gap-15px">
        <div class="relative">
          <a href="product-details.html" >
            <img src="{{ elt.projet.image.url }}" alt="" class="w-20 inline-block">
          </a>
          <button
                  hx-get="{% url 'supprimer_projet_panier' %}?projet_id={{elt.projet.id}}"
                   class="ml-2 w-5 h-5 shadow-box-shadow-3 text-center text-10px bg-white hover:bg-secondary-color hover:text-white rounded-full absolute top-0 left-0 -translate-x-1/2 -translate-y-1/2 transition-all duration-300 cursor-pointer">
          <i class="icon-cancel leading-5"></i>
        </button>
        </div>
        <div>
          <h6 class="text-sm md:text-15px lg:text-base mb-5px">
            <a href="product-details.html"
              class="leading-23px text-heading-color hover:text-secondary-color font-medium">
                {{ elt.projet.libelle }}
            </a>
          </h6>
          <div class="text-sm lg:text-base">
            <span class="leading-22px">{{ elt.projet.montant_investissement }} / {{ elt.projet.modalite_investissement }}</span>
          </div>
        </div>
      </li>
        {% endfor %}
    {% endif %}
    </ul>
  </div>

